@import url('https://fonts.googleapis.com/css2?family=Alice&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('background.jpg') ;
    background-position: center;
    
}

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;

}


.Todo-Container{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px   rgba(0,0,0,0.5);
    border: 3px solid rgba(225,225,225,0.18);
    backdrop-filter: blur(20px);
}

.Todo-Container h1{
    font-size: 2rem;

}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgba(225,194,209,0.3);
    color: #dbdbdb;
}

.input-area input::placeholder{
    color: antiquewhite;
}


.input-area button {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
    border-radius: 50%;

    color: #fff;
    font-size: 1.1rem;

    background: rgba(225, 194, 209, 0.3);
    border: 2px solid rgba(225, 225, 225, 0.18);

    cursor: pointer;
    transition: all 0.2s ease;
}


.input-area button::hover{
    transform: scale(1.1);
    background: #ff6f91;
}



.todo-Container-list{
    display: flex;
    align-items: center;
    justify-content: center;

}

#task-list{
    width: 100%;
}